@font-face {
	font-family: calculatorFont;
	src: url(calculatorFonts/LCD_Solid.ttf);
}
* {
	font-family: calculatorFont;
}
body {
	background-color: #1CA9F0;
}
#calculator {
	text-align: center;
	vertical-align: middle;
}
#screen{
	height: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	background-color: #B2E4FB;
}
.numbers{
	background-color: #1588CD;
	text-align: center;
    line-height:30px;
}
.operators{
	background-color: #1CA9F0;
	text-align: center;
    line-height:30px;
}
.numbers h1, .operators h1, #clear_all, #clear_last, #equals, #dot {
	display: inline-block;
	width: 30%;
	background-color: #FE3F80;
	color: #FEFEFE;
	text-align: center;
	padding: 20px 0px 20px 0px;
	cursor: pointer;
	opacity: .5;
}
h1:hover, #clear_all:hover, #clear_last:hover, #equals:hover {
	opacity: 1;
}
#equals {
	width: 100%;
}