.numbers h3, .operators h2 {
	display: inline-block;
	width: 30%;
	background-color: #FF9E80;
	color: #DADADA;
	text-align: center;
	padding: 20px 0px 20px 0px;
	cursor: pointer;
}
h3.number {
	background-color: #FF3D00;
}
.numbers{
	background-color: #6A1B9A
}
.operators{
	background-color: #727272;
}
#screen{
	border: 1px solid purple;
	border-radius: 5px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}
#clear_all, #clear_last{
	display: inline-block;
	width: 30%;
	background-color: #FF9E80;
	color: #DADADA;
	text-align: center;
	padding: 20px 0px 20px 0px;
	cursor: pointer;
}